/* Global layout */

    body {
        margin: 0;
        font-family: 'Lato', sans-serif;
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    
    button {
        padding: 3px 8px;
        font-weight: 600;
        display: block;
        cursor: pointer;
    }
    
    .regularButton {
        border-radius: 7px;
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        margin: 0;
        padding: 4px 0;
        list-style: none;
    }
    
    form > p {
        margin-bottom: 5px;
        color: red;
        text-align: right;
    }
    
    form > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

/* Customized items template */

    .blueButton,
    .orangeButton,
    .greyButton,
    .whiteButton {
        padding: 4px 9px;
        font-weight: 600;
    }
    
    .blueButton,
    .orangeButton,
    .greyButton {
        color: white;
        border: 1px white solid;
    }
    
    .blueButton {
        background-color: #0984e3;
    }
    
    .orangeButton {
        background-color: #e17055;
    }
    
    .greyButton {
        background-color: #b0b0b0;
    }
    
    .whiteButton {
        background-color: white;
        color: #0984e3;
        border: 1px #0984e3 solid;
    }
    
    form button,
    .whiteItem {
        color: white;
    }
    
    .blueItem {
        color: #0984e3;
    }

/* Landing page specifics */

    header {
        width: 100%;
        height: 100vh;
        margin: 0;
        
        background-image: url("../img/alaska_landscape.jpg");
        background-size: cover;
        background-position: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    h1 {
        font-size: 4em;
        font-family: 'Lobster', cursive;
        color: white;
        text-align: center;
    }
    
    h2 {
        color: white;
        position: absolute;
        bottom: 20px;
        right: 5%;
        text-align: right;
    }
    
    article {
        background-color: #2d3436;
        color: white;
        position: relative;
    }
    
    article p {
        padding: 30px 10% 70px 10%;
        margin: 0;
    }
    
    article a {
        position: absolute;
        right: 10%;
        bottom: 30px;
    }
    
    aside {
        padding: 30px 10% 30px 10%;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    aside img {
        width: 100px;
        height: 100px;
        border: 1px black solid;
        align-self: center;
        margin-bottom: 10px;
    }
    
    aside p {
        margin: 0;
    }
    
    footer {
        width: 100%;
        height: 5vh;
        background-color: #2d3436;
        color: white;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer ul {
        display: flex;
        flex-direction: row;
    }
    
    footer li {
        margin-left: 10px;
    }
    
    footer img {
        width: 20px;
        height: 20px;
    }
    
    footer p {
        margin: 3px 0 0 0;
    }
    
    .whiteButton span {
        margin-right: 10px;
    }

/* nav bars */

    .userSessionBar,
    .adminSessionBar {
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        font-size: 1.1em;
    }
    
    .userSessionBar,
    .adminSessionBar {
        background-color: #2b3234;
    }
    
    .userSessionBar {
        height: 13vh;
    }
    
    .adminSessionBar{
        height: 7vh;
    }
    
    .userSessionBar p,
    .adminSessionBar p {
        margin: 0;
        padding: 2.4vh 30px;    
    }
    
    .userSessionBar nav,
    .adminSessionBar nav {
        padding: 5px 20px 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .userSessionBar nav button:nth-child(2),
    .userSessionBar nav button:nth-child(3),
    .adminSessionBar nav button:nth-child(2),
    .adminSessionBar nav button:nth-child(3) {
        margin-left: 10px;
    }
    
    .bookWrapper,
    .adminPanelWrapper {
        padding: 2vh 5%;
    }
    
    .bookWrapper {
        margin: 7vh 0 0;
    }
    
    .adminPanelWrapper {
        margin: 7vh 0 0;
    }
    
    h3 {
        font-size: 1.5em;
        margin: 20px 0 10px;
    }

/* Frontoffice */

    .bookWrapper {
        width: 90%;
        height: 88vh;
        background-image: url(../img/snowy-landscape.jpg);
        background-size: cover;
        background-position: bottom center;
        position: relative;
    }
    
    .bookWrapper:before,
    .bookContainer {
        position: absolute;
        width: 90%;
        height: 88vh;
    }
    
    .bookWrapper:before {
        content: "";
        background-color: white;
        opacity: 0.85;
        box-shadow: 5px 5px 3px;
        z-index: 1;
    }
    
    .bookContainer {
        z-index: 2;
        overflow-y: scroll;
    }
    
    .bookContent {
        margin: 20px;
    }
    
    .bookContent h3 {
        text-align: center;
    }
    
    .chapterContent {
        max-height: 65vh;
        overflow-y: scroll;
        margin-bottom: 20px;
    }

/* Register and signIn page specifics */

    .identificationForm {
        align-items: center;
    }

    .identificationForm div {
        width: 200px;
        display: flex;
        flex-direction: column;
    }

    .identificationForm div p {
        margin: 0;
        text-align: center;
    }

/* getChapterList page specifics */

    .bookContent > ul > li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
    }
    
    .chapterHelp {
        font-size: 1.2em;
        margin-left: 5px;
        cursor: pointer;
    }

/* getChapter page specifics */

    .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .commentInfo {
        font-size: 0.8em;
        margin: 15px 0 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .commentInfo p {
        margin: 0;
    }
    
    .commentInfo p i {
        margin-left: 5px;
    }
    
    .commentCommands {
        display: flex;
        flex-direction: row;
    }
    
    .editCommentButton {
        padding: 0;
        border: none;
        background-color: inherit;
        font-size: 1.2em;
    }
    
    .commentCommands a {
        display: block;
        font-size: 1.2em;
        margin: 0 0 0 10px;
    }
    
    .userComment {
        font-size: 0.9em;
        margin: 0;
    }
    
    .deletedComment,
    .editedComment {
        font-style: italic;
    }
    
    .editedComment {
        display: block;
        margin-top: 5px;
    }
    
    .commentsWrapper {
        display: flex;
        justify-content: center;
    }
    
    .commentsContainer {
        margin: 20px 0;
        width: 90%;
    }
    
    .commentsContainer p strong {
        color: #0984e3;
    }
    
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    textarea {
        border: none;
    }
    
    .dynamicForm {
        width: 200px;
        border-bottom: 1px solid #bdc3c7;
        border: none;
        margin: 0 auto;
        padding: 15px 0 5px;
        text-align: center;
        color: #005ca8;
        display: block;
        -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
              transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        background: -webkit-linear-gradient(top, rgba(9, 132, 277, 0) 96%, #0984e3 4%);
        background: linear-gradient(to bottom, rgba(9, 132, 277, 0) 96%, #0984e3 4%);
        background-position: -200px 0;
        background-size: 200px 100%;
        background-repeat: no-repeat;
    }
    
    .identificationForm button {
        margin: 10px;
    }
    
    #comment {
        height: 20px;
    }
    
    form button {
        align-self: center;
        cursor: pointer;
    }
    
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    button {
        font-family: 'roboto', sans-serif;
        -webkit-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
    }
    
    input:focus,
    input:valid,
    textarea:focus,
    textarea:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
    }
    
    input:focus::-webkit-input-placeholder,
    input:valid::-webkit-input-placeholder,
    textarea:focus::-webkit-input-placeholder,
    textarea:valid::-webkit-input-placeholder{
        color: #0984e3;
        font-size: 11px;
        -webkit-transform: translateY(-20px);
              transform: translateY(-15px);
        visibility: visible !important;
    }
    
    button:hover {
        -webkit-transform: translateY(-3px);
          -ms-transform: translateY(-3px);
              transform: translateY(-3px);
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    }
    
    label {
        font-size: 0.9em;
    }
    
    .commentSpeech form {
        align-items: flex-start;
    }
    
    .commentSpeech .editionContainer {
        width: 70%;
        flex-direction: column;
    }
    
    .editionContainer p {
        margin: 0;
    }
    
    .smallButtonsContainer {
        align-items: center;
    }
    
    a.small {
        width: 2px;
        height: 12px;
    }
    
    button.small {
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        margin-left: 5px;
    }
    
    a.small i,
    button.small i
    {
        font-size: 0.5em;
    }

/* getMemberPanel Page specifics */

    .userInfoBloc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .userInfo {
        width: 100%;
        margin: 0 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    h4 {
        margin: 0;
    }
    
    .userInfo > div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .userInfo img {
        width: 100px;
        border: 1px black solid;
    }
    
    #username,
    #userEmail {
        max-width: 55%;
    }
    
    #username p,
    #userEmail p {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .userInfo > div > button {
        margin-top: 5px;
    }
    
    #avatarContainer {
        position: relative;
    }
    
    #avatarContainer button {
        position: absolute;
        top: -18px;
        right: -18px;
    }
    
    .editInfoButton {
        border-radius: 50%;
        margin-left: 10px;
        padding: 4px 9px;
        font-weight: 600;
        color: white;
        border: 1px white solid;
        background-color: #0984e3;
        width: 40px;
        height: 40px;
    }
    
    .editInfoLink {
        border-radius: 50%;
        padding: 4px 9px;
        font-weight: 600;
        color: white;
        border: 1px white solid;
        background-color: #0984e3;
        width: 20px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .userInfo p {
        margin: 0;
    }
    
    #userManagement {
        justify-content: center;
    }
    
    #userManagement a {
        width: 50px;
        height: 60px;
        border-radius: 50%;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #userManagement i {
        font-size: 2em;
    }

/* Backoffice */

    .adminPanelWrapper {
        width: 90%;
        height: 88vh;
        background-image: url(../img/aurora-borealis.jpg);
        background-size: cover;
        background-position: top center;
        position: relative;
    }
    
    .adminPanelWrapper:before,
    .adminContentContainer {
        position: absolute;
        width: 90%;
        height: 88vh;
    }
    
    .adminPanelWrapper:before {
        content: "";
        background-color: white;
        opacity: 0.75;
        box-shadow: 5px 5px 3px;
        z-index: 1;
    }
    
    .bookContainer {
        z-index: 2;
    }
    
    .adminWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .adminPanelWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .adminContentContainer {
        z-index: 2;
        overflow-y: scroll;
    }
    
    .adminContentContainer:nth-child(2) {
        margin: 10px 0;
    }
    
    .adminContentContainer h3 {
        margin: 0 0 14px;
        text-align: center;
    }
    
    .adminContent {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .greyBox {
        background-image: linear-gradient(#bdc3c7, #dfe6e9);
        box-shadow: 0px 5px 5px #bdc3c7;
        margin: 10px 0 0;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .adminContent:nth-child(2) .greyBox {
        flex-direction: column;
    }
    
    .greyBox p {
        margin: 0 0 0 20px;
        font-size: 0.9em;
    }
    
    .greyBox span {
        font-size: 2.1em;
        font-weight: bold;
        color: #4834d4;
    }
    
    .adminPanelIcons {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        background-color: #0984e3;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .greyBox i {
        font-size: 1.7em;
    }
    
    .adminContentContainer a i,
    .adminContentContainer span {
        color: #0984e3;
    }
    
    .redItem {
        color: red;
    }
    
    .greenItem {
        color: forestgreen;
    }
    
    .chapterOptions,
    .usersOptions {
        width: 90%;
        padding: 6px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .chapterOptions a {
        color: black;
        font-size: 0.95em;
    }

    .chapterOptions > div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .chapterOptions i {
        font-size: 1.2em;
        margin: 0 10px 0 0;
    }
    
    .chapterOptions a i,
    .usersOptions i {
        font-size: 1.2em;
        margin: 0 0 0 10px;
    }
    
    .adminContent:nth-child(2) > a {
        align-self: flex-end;
        margin-top: 10px;
    }
    
    .adminContent:nth-child(2) > a i {
        color: white;
    }

    .chapterWrapper h4,
    .chapterWrapper>div {
        margin-bottom: 10px;
    }
    
    .chapterWrapper textarea {
        height: 100%;
        padding: 10px;
    }
    
    .researchForm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .researchForm #username {
        max-width: 70%;
        width: 80%;
    }
    
    .researchForm button i {
        margin: 0;
    }

/* EditChapter Page specifics */

    .editingForm {
        height: 600px;
    }
    
    .submitButtonsBlock {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 15px;
    }
    
    .submitButtonsBlock button i {
        margin-right: 5px;
    }

/* CreateNewChapter Page specifics */

    .editingForm label,
    #chapterTitle {
        margin-bottom: 10px;
    }
    
    .editingForm label {
        font-size: 1em;
        font-weight: bold;
    }

/* Burger menu */

    .main {
        margin: 0 auto;
        display: block;
        height: 100%;
        margin-top: 60px;
    }
    
    .mainInner {
        display: table;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    
    .mainInner div {
        display:table-cell;
        vertical-align: middle;
        font-size: 3em;
        font-weight: bold;
        letter-spacing: 1.25px;
    }

    #sidebarMenu {
        position: fixed;
        left: 0;
        width: 100%;
        margin-top: 7vh;
        transform: translateX(-100%);
        transition: transform 250ms ease-in-out;
        background: #2b3234;
    }
    
    .sidebarMenuInner {
        width: 100%;
        box-shadow: 0 10px 6px -6px #777;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebarMenuInner li {
        padding: 10px;
    }
    
    .sidebarMenuInner li span {
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.50);
    }
    
    input[type="checkbox"]:checked ~ #sidebarMenu {
        transform: translateX(0);
    }
    
    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }
    
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 22px;
        right: 15px;
        height: 22px;
        width: 22px;
    }
    
    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #fff;
    }
    
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    
    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    
    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    
    input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }
    
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }
    
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }