body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

button {
    padding: 3px 8px;
    border-radius: 6px;
    font-weight: 600;
    display: block;
}

/* Fonts and border */

.white-border {
    border: 1px white solid;
}

.white-border a,
form button {
    color: white;
}

.light-blue-button {
    background-color: #0984e3;
}

.light-blue-border {
    border: 1px #0984e3 solid;
}

.light-blue-border a {
    color: #0984e3;
}

.dark-blue-border {
    border: 1px #30336b solid;
}

.dark-blue-border {
    color: #30336b;
}

.white-button a {
    color: #0984e3;
}

.orange-button {
    background-color: #e17055;
}

.white-button {
    background-color: white;
}

.dark-blue-button {
    background-color: #30336b;
}

.dark-blue-border {
    border: #30336b;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    width: 100%;
    height: 100vh;
    margin: 0;
    
    background-image: url("../img/alaska_landscape.jpg");
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-size: 4em;
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
}

h2 {
    color: white;
    position: absolute;
    bottom: 20px;
    right: 5%;
    text-align: right;
}

article {
    background-color: #2d3436;
    color: white;
    position: relative;
}

article p {
    padding: 30px 10% 70px 10%;
    margin: 0;
}

article button {
    position: absolute;
    right: 10%;
    bottom: 30px;
}

article a {
    display: block;
}

aside {
    padding: 30px 10% 30px 10%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

aside img {
    width: 100px;
    height: 100px;
    border: 1px black solid;
    align-self: center;
    margin-bottom: 10px;
}

aside p {
    margin: 0;
}

footer {
    width: 100%;
    background-color: #2d3436;
    color: white;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer li {
    margin-left: 10px;
}

footer img {
    width: 20px;
    height: 20px;
}

footer p {
    margin: 3px 0 0 0;
}

/* nav bars */

.user-session-bar,
.admin-session-bar {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.user-session-bar {
    background-color: #2b3234;
}

.admin-session-bar {
    background-color: #4a69bd;
}

.user-session-bar p,
.admin-session-bar p {
    margin: 0;
    padding: 10px 40px 5px;
    text-align: center;
}

.user-session-bar nav,
.admin-session-bar nav {
    padding: 5px 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-session-bar nav button:nth-child(2),
.user-session-bar nav button:nth-child(3),
.admin-session-bar nav button:nth-child(2),
.admin-session-bar nav button:nth-child(3) {
    margin-left: 10px;
}

.content-wrapper,
.admin-wrapper {
    margin: 110px 0 0;
    padding: 20px 5%;
}

.content-wrapper {
    width: 90%;
    height: 80vh;
    background-image: url(../img/snowy-landscape.jpg);
    background-size: cover;
    background-position: bottom center;
}

.white-button span {
    margin-right: 10px;
}

.blog-container,
.comments-container {
    height: 100%;
    margin: 0;
    background-color: white;
    border: grey;
    box-shadow: 5px 5px 3px;
    opacity: 0.8;
}

.blog-container h3 {
    text-align: center;
    text-decoration: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 1.5em;
    text-decoration: underline;
    margin-top: 0;
}

.chapter-nav-buttons {
    display: flex;
    justify-content: center;
}

i {
    color: #0984e3;
}

.chapter-nav-buttons i:nth-child(2) {
    margin-left: 20px;
}

.comment-info {
    font-size: 0.8em;
    margin: 15px 0 3px;
}

.user-comment {
    font-size: 0.9em;
    margin: 0;
}

.comments-container p strong {
    color: #0984e3;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}


form input,
form textarea {
    border: none;
    width: 120px;
    margin: 0 auto 10px;
    text-align: center;
}

form button {
    align-self: center;
    margin-top: 10px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
button {
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

input,
textarea {
    margin: 40px 25px;
    display: block;
    width: 60%;
    border: none;
    padding: 15px 0 5px;
    border-bottom: solid 1px #0984e3;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(9, 132, 277, 0) 96%, #0984e3 4%);
    background: linear-gradient(to bottom, rgba(9, 132, 277, 0) 96%, #0984e3 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #005ca8;
}

input:focus,
input:valid,
textarea:focus,
textare:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

input:focus::-webkit-input-placeholder,
input:valid::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:valid::-webkit-input-placeholder{
    color: #0984e3;
    font-size: 11px;
    -webkit-transform: translateY(-20px);
          transform: translateY(-15px);
    visibility: visible !important;
}

button:hover {
    -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

label {
    font-size: 0.9em;
}

.user-info-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    width: 80%;
    margin: 0 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

h4 {
    margin: 0;
}

.user-info div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-info img {
    width: 100px;
}

.user-info button {
    margin-top: 5px;
}

.user-info p {
    margin: 0;
}

/* dashboard */

.purple-border {
    border: 1px #4834d4 solid;
    color: #4834d4;
}

.admin-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-content-wrapper {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-content {
    width: 100%;
    padding: 10px 10px 5px;
    border: 2px black solid;
}

.admin-content:nth-child(2) {
    margin: 10px 0;
}

.admin-content h3 {
    margin: 0 auto 5px;
    text-align: center;
    text-decoration: none;
}

.grey-box {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(#bdc3c7, #dfe6e9);
    box-shadow: 0px 5px 5px #bdc3c7;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #bebebe;
}

.grey-box p {
    margin: 0 0 0 30px;
    font-size: 0.9em;
    color: white;
}

.grey-box span {
    font-size: 2.1em;
    font-weight: bold;
    color: #4834d4;
}

.grey-box i {
    font-size: 2.8em;
    margin-right: 30px;
    color: white;
}

.chapter-options {
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.chapter-options a {
    margin: 0 10px 0 0;
}

.chapter-options i {
    font-size: 1.2em;
    color: #30336b;
}

.admin-content i,
.admin-content span {
    color: #4834d4;
}

.admin-content:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.admin-content:nth-child(2) button {
    width: 35px;
    height: 35px;
    margin: 10px 20px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.admin-content:nth-child(2) button i {
    font-size: 1.5em;
}